<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maddo.foo.telasplash" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_splash"
        android:label="Guia Odonto"
        android:theme="@style/AppTheme" >
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity
            android:name="br.com.j5web.guiaodonto.area_atuacao"
            android:label="@string/title_activity_area_atuacao" >
        </activity>
        <activity
            android:name="br.com.j5web.guiaodonto.Prestadores"
            android:label="@string/title_activity_prestadores" >
        </activity>
        <activity
            android:name="br.com.j5web.guiaodonto.Prestador"
            android:label="@string/title_activity_prestador" >
        </activity>
    </application>

</manifest>
